<div class="main_page">
    <h1>MGK Shopping Project</h1>

    <br>
    <br>
    <h2>Contributors</h2>
    <br>

    <p class="students">Howard Mann</p>
    <p class="students">Steve Gibbs</p>
    <p class="students">Samit Kalra</p>
</div>
