/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/**
 *** SIMPLE GRID
 *** (C) ZACH COLE 2016
 **/


/* UNIVERSAL */

html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato";
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* POSITIONING */

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 96%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-sm {
  display: none;
}
@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}
@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* Custom CSS*/

.supplier_logo {
  height: 30px;

}
label {
  margin-left: 50px;
  color: black;
  font-size: 14px;
  display: inline-block;
}


#MGK {
   font-size: 25px;
}

nav {
   background-color: black;
   color: white;
   width: 100%;
}

nav a{
   color: white;
   text-decoration: none;
}

button {
   border-radius: 2px;
   margin: 2px;
   background-color: darkslategray;
   color: white;
   margin: 0.3em 0;
}

input {
   border-radius: 2px;
   margin: 2px;
   background-color: darkslategray;
   color: white;
   margin: 0.3em 0;
}

input#product_product_name, input#product_price, input#product_image, input#order_name, input#order_address1, input#email, input#password {
  /*background-color: yellow;*/
  width: 400px;
  border: 0.5px solid lightslategray;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
}

textarea {
   width: 400px;
   border: 0.5px solid lightslategray;
   border-radius: 10px;
   padding: 10px;
   font-size: 12px;
}

select {
   width: 400px;
   border: 0.5px solid lightslategray;
   border-radius: 10px;
   padding: 10px;
   font-size: 12px;
   background-color: white;
}

p, li {
  font-size: 14px;
  color: #5a5859;
  list-style-type: none;
}
img {
  height: 180px;
}
.prod1:hover {
  transform: scale(1.1);
}
.prod2:hover {
  transform: scale(1.6);
  text-align: center;
}
form.button_to, input.prod3 {
  text-align: center;
}
a {
  color: #A5A5A5;
  text-align: justify;
}
a:hover {
  color: #e3a797;
}

.slick-slide {
  width: 185px;
  max-width: 75%;
}


/*.slick-prev:after {
  content: ">";
  color: white;
  font-size: 3px;
}

.slick-next:before {
  content: "<";
  color: white;
  font-size: 3px;
}*/

.main_page {
  text-align: center;
}
.students {
  color: black;
  font-size: 20px;
}
.case1 {
  margin-left: 75px;
  display: inline-block;
  text-align: center;
  max-width: 75%;
}
.case3 {
  font-size: 11px;
}
.show_page1 {
  text-align: center;
  max-width: 360px;
  margin: auto;
}
