// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_page {
  text-align: center;
}


.students {
  color: black;
  font-size: 20px;
}

.testcase{
margin-left: 75px; 
display: inline-block;
text-align: center;
max-width: 75%;
}

.testcase2{

  display: block;
  max-width: 300px;
}

div.pagination{
  margin-top: 100px;
  display: block;

}
