<h1>A list of all products</h1>

<% @products.each do |prod| %>
  <p>Name: <%= link_to(prod.product_name, product_path(prod)) %></p>
  <p>Price: <%= number_to_currency(prod.price) %></p>
  <p>Brand: <%= prod.brand.brand_name %></p>
  <p><%= image_tag(prod.image) %></p>

  <br>
<% end %>
